.project {
  margin-top: 89px;
}

.project-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }

  &:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

.projects-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* gap: 30px; */
}

.projects-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}

.projects-list .description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: $link-text-color;
}
