.work {
  padding-top: 0;
}

.example-list {
  display: flex;
  justify-content: space-between;
}

.example-list__photo {
  display: block;
}

.example-list__wrapper {
  position: relative;
}

.example-list__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  color: $primary-background-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
