/* Основний колір #212121 */
/* Вторинний колір #757575 */
/* Акцент #2196F3 */
/* Фон основний #FFFFFF */
/* Вторинний колір фону #2F303A */
/* Контакти footer кольори rgba(255, 255, 255, 1) ; rgba(255, 255, 255, 0.6) */
/* Кольори логотипу #000000 #2196F3 */
/* Фон наша команда #F5F4FA */

$primary-text-color: #212121;
$link-text-color: #757575;
$primary-background-color: #ffffff;
$secondary-accent-color: #f5f4fa;
$secondary-background-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$logo-accent-color: #000000;
$accent-color: #2196f3;
$icon-color: #afb1b8;
$primary-font-size: 14px;
$primery-font-weight: 400;
$primary-letter-spacing: 0.03em;
